.filter {
  width: 32%;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px lightgrey;
  padding: 20px;
  padding-left: 20px;
  text-align: left;
}

label {
  margin-left: 5px;
  margin-right: 10px;
}

.conditions {
  display: inline-block; 
  width: 22%;
}

.comparator {
  display: inline-block; 
  width: 18%;
}

.filter-button {
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: #007aff;
  color: #007aff;
  outline: none;
}

.filter-button:hover {
  background-color: #007aff;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}