.header-auth {
  width: 100px;
  border-radius: 40px;
  border: 2px solid #f03434;
  outline: none;
  font-size: small;
}

.header-auth:hover {
  width: 100px;
  border-radius: 40px;
  background-color: #f03434;
  border: 2px solid #f03434;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 0.25s;
  font-size: small;
}

.header-user {
  width: 100px;
  border-radius: 40px;
  border: 2px solid #19b5fe;
  outline: none;
  font-size: small;
}

.header-user:hover {
  width: 100px;
  border-radius: 40px;
  background-color: #19b5fe;
  border: 2px solid #19b5fe;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 0.25s;
  font-size: small;
}

.header-admin {
  width: 100px;
  border-radius: 40px;
  border: 2px solid #29f1c3;
  outline: none;
  font-size: small;
}

.header-admin:hover {
  width: 100px;
  border-radius: 40px;
  background-color: #29f1c3;
  border: 2px solid #29f1c3;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 0.25s;
  font-size: small;
}

.header-button-container {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.header-user button:hover {
  width: 100px;
  border-radius: 40px;
  background-color: #f03434;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 0.25s;
  font-size: small;
}

.header-admin button:hover {
  width: 100px;
  border-radius: 40px;
  background-color: #f03434;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 0.25s;
  font-size: small;
}

.header-text {
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 800;
  margin-top: 5px;
}

.header {
  padding: 20px
}

.header-container {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}